/*//////main styles//////*/

* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 45px;
}
body {
    /* background-image: url('../Img/joshua-fuller-609241-unsplash.jpg');
    background-position: top; */
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.button__img{
    width: 14px;
    height: 14px;
    background-color: #2646e4;  
    left: 0;
    bottom: 0; 
}
.button__link span{
    width: 46px;
    height: 45px;
    left: 0;
    bottom: 0;
    background-color: #2646e4;
    position: absolute;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button__link:hover span, .button__link.active span {
    background-color: #2646e4;
}
.button__link {
    border: none;
    background: none;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 230px;
    height: 45px;
    background-color: white;
    border-radius: 23px;
    border: 1px solid #d0d0d0;
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    padding: 13px 48px;
    position: relative;
    transition: all 0.3s linear;
    text-align: center;
}
/* .button__link--inline {
    display: inline-block;
} */
.button__link:hover {
    border: #0044E9;
    text-decoration: none !important;
}

/*//////1 block//////*/

.header .container{
    display: flex;
    flex-direction: column;
}
.header__headline{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 0px;
}
.logo{
    padding-top: 10px;
}
.logo__link{
    display: block;
}
.logo__img {
    display: block;
    width: 139px;
    height: 30px;
}
.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav__item {
    /* margin: 0 17px; */
}
.nav__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: black;
    text-decoration: none;
    letter-spacing: -0.01em;
    position: relative;
    padding: 25px;
}
.nav__link:after {
    position: absolute;
    bottom: 9px;
    left: 17px;
    width: calc(100% - 17px * 2);
    height: 2px;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    /* transition: 0.3s; */
    transition: all 1.0s linear;
}
.nav__link--active, .nav__link:hover {
    color: inherit;
}
/* .nav__link--active:after, .nav__link:hover:after {
    opacity: 1;
    transform: translateY(0);
} */
.warmclothes{
    background-image: url(../Img/joshua-fuller.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    min-height: 620px;
    display: flex;
    padding-top: 50px;
}
.outerwear__text {
    /* background-image: url(../Img/joshua-fuller-609241-unsplash.jpg); */
    width: 640px;
    height: 570px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 127px;
    letter-spacing: -0.03em;
    float: right;
    transition: all .2s linear;
}
.outerwear__text h1 {
    color: black;
    font-family: 'Montserrat';
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: -0.03em;
    /* padding-top: 130px;
    padding-left: 150px; */
    
}
.outerwear__text h3{
    color: black;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    
}
.outerwear__text .button{
    background-image: url(../Img/кнопка.png);
    cursor: pointer;
    width: 297px;
    height: 102px;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 24px;
}
.outerwear__text .button:hover{
    background-image: url(../Img/кнопка_ховер.png);
    width: 297px;
    height: 102px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
}

/*//////2 block//////*/

.advantages {
    min-height: 672px;
    display: flex;
    padding-top: 123px;
    padding-bottom: 125px;
    box-sizing: border-box;
    background-color: white;
}
h1 {
    font-family: 'Montserrat';
    font-size: 50px;
    line-height: 1;
    color: black;
    font-weight: 600;
    /* letter-spacing: -0.02em; */
}
h3{
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
h2 {
    color: black;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    /* letter-spacing: -0.01em; */
}
.advantages__text p{
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}
.advantages__header {
    text-align: center;
}
.advantages__header + .advantages__items {
    padding-top: 83px;
}
.advantages__items .col{
    text-align: center;
}
.advantages__icon {
    display: block;
    margin: 0 auto;
    width: 102px;
    height: 95px;
    background-color: white;
}
.advantages__text {
    padding-left: 11px;
    padding-right: 5px;
    color: #3d3d3d;
    font-family: MuseoSans;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: -0.03em;
}
.advantages__text h2 {
    margin: 4px 0;
}
.advantages__text p {
    margin: 15px 0;
}

/* //////3 block////// */

.clothes {
    min-height: 1170px;
    display: flex;
    padding: 84px 0px;
    box-sizing: border-box;
    background-image: url(../Img/Background\ TEPLO_3block.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.clothes .col{
    display: inline-block;
}
.clothes__text h1 {
    color: black;
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: 600;
    line-height: 42px;
}
.clothes__text h3 {
    color: #2d2d2d;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.info__prices{
    display: inline-block;
    white-space: nowrap;
    /* text-align: center; */
}
.info__price__cur {
    display: inline-block;
    /* vertical-align: middle; */
    font-size: 18px;
    font-weight: 100;
    color: black;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 24px;
    font-size: 27px;
}
.h4 span {
    font-size: 20px;
}
.info__price__old {
    padding: 0 25px;
    display: inline-block;
    /* vertical-align: middle; */
    font-size: 18px;
    font-weight: 100;
    text-decoration: line-through;
    color: #2c2c2c;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
}
.h5 span{
    font-size: 16px;
}
.clothes__jacket .button{
    background-image: url(../Img/кнопка.png);
    cursor: pointer;
    width: 150px;
    height: 52px;
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    padding-top: 24px;
}
.clothes__sheepskincoat--shade{
    width: 508px;
    height: 583px;
    opacity: 0.5;
    position: relative; 
    float: left; 
    width: 400px; 
}
.clothes__sheepskincoat--noshade{
    overflow: hidden;
    width: 370px;
    height: 431px;
    position: relative; 
    float: left; 
    left: -55px; 
    top: 114px; 
}
.clothes__jacket--noshade{
    overflow: hidden;
    width: 370px;
    height: 431px;
    position: relative; 
    float: left; 
    left: -55px; 
    top: 114px;
}
.clothes__jacket--shade{
    width: 508px;
    height: 583px;
    opacity: 0.5;
    position: relative; 
    float: left; 
    width: 400px;
}
.clothes__coat--shade{
    width: 508px;
    height: 583px;
    opacity: 0.5;
    position: relative; 
    float: left; 
    width: 400px;
}
.clothes__coat--noshade{
    overflow: hidden;
    width: 370px;
    height: 431px;
    position: relative; 
    float: left; 
    left: -55px; 
    top: 114px;
}
.clothes__jacket{
    text-align: left;
}
.clothes__sheepskincoat{
    text-align: right;
}
.clothes__coat{
    text-align: left;
}

/*//////4 block//////*/

.howwework{
    max-width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 130px 0px;
    background-image: url(../Img/jess-watters-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    width: 1920px;
    height: 620px;
    position: relative;
    /* position: sticky; */
    top: 0;
    background-color: white;
}
.buttons{
    text-align: center;
}
.fa-2x{
    content: '';
}
.howwework__text h1{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 600;
    line-height: 24px;
}
.howwework__text h3{
    text-align: center;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.howwework__text a h4{
    color: white;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 600;
    line-height: 24px;
}
.howwework__text a p{
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
}
.howwework__all .button {
    display: inline-block;
    margin: 40px;
    width: 170px;
    height: 170px;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    /* line-height: 0.5; */
    line-height: 11px;
    transition: all 0.5s linear;
    /* vertical-align: middle; */
    position: relative;
    
}  
.howwework__all .button:hover{
    background-color: #2646e4;
    color:white;
}
.howwework__all .button:hover h1{
    color:white;
}
.howwework__all .h1{
    width: 44px;
    height: 36px;
    color: black;
    font-family: 'Montserrat';
    font-size: 55px;
    font-weight: 400;
    /* line-height: 24px; */
}
.howwework__all .p{
    width: 75px;
    height: 10px;
    color: black;
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    /* line-height: 11px; */
}
.btn--first{
    text-align: center;
}
.btn--second{
    text-align: center;
}
.btn--third{
    text-align: center;
}
.btn--first .p{
    /* line-height: 0.5; */
    /* vertical-align: middle; */
}

/*//////5 block//////*/
.individuality{
    background-image: url(../Img/background_5block.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover;  */
    min-height: 620px;
    display: flex;
    padding-top: 50px;
}
.container h1{
    text-align: center;
    padding-top: 30px; 
}
.ul .disc{
    background-color: #2646e4;
}
li {
    color: #2646e4;
    size: 8px;
}
li span {
color: black; 
}
.individuality__header{
    text-align: center;
    padding-top: 130px; 
    padding-bottom: 50px;
    line-height: 0;
    /* display: inline; */
}
.img--container{
    width: 572px;
    height: 451px;
    padding-right: 30px;
    position: relative;
    overflow: hidden;
    float: left;
    
}
.row--individuality .col {
    position: relative;
    display: block;
    overflow: hidden;
} 
.individuality__text{
    /* padding: 365px 0; */
    float: left;
    
}
.individuality__text h3{
    width: 560px;
    height: 23px;
    color: black;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.99px;
    padding-left: 20px;
}